

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Playfair+Display:wght@400;700&display=swap');

.wrapper{
  width: 100%; 
  overflow: hidden;
}

.home-header {
  height: 860px;
  background-position: center center;
  background-size: cover;
}

.intro-heading{
  border-bottom: 2px solid #000; 
  display: inline-block; 
  padding-bottom: 5px;
  margin-bottom: 10px; 
}

.check-banner-text{
  opacity: 0.5;
}

.service-item img{
  object-fit: cover;
  width: 400px;
  height: 400px;
  transition: transform 0.3s ease-in-out; 
}

.service-item img:hover{
  transform: scale(1.1);
}

.checkproduct{
  background-image: url(../assets/pics/check.jpg);
  background-color: rgba(255, 255, 255, 0.5); 
  opacity: 0.5;
  height: 660px;
  background-position: center center;
  background-size: cover;
}


// @media (max-width: 768px) {
//   .home-header {
//     height: 500px;
//     background-position: center center;
//     background-size: cover;
//   }

//   .ml-auto {
//     margin-left: auto;
//   }

//   .text-start {
//     text-align: center;
//   }

//   .banner-text {
//     text-align: center;
//     padding: 0 15px;
//   }
  

//   .checkproduct {
//     height: 500px; 
//   }

//   .checkproduct .container {
//     align-items: center;
//   }

//   .checkproduct .banner-text {
//     text-align: center;
    
//   }

//   .intro-pic img,
//   .service-item img {
//     width: 100%; /* 讓圖片填滿父元素 */
//     height: auto;
//   }
// }

@media (max-width: 768px) {
  .home-header {
    height: 300px; /* 调整高度 */
  }

  .intro-heading {
    text-align: center; /* 居中文字 */
    margin: 10px 0; /* 调整间距 */
  }

  .banner-text {
    text-align: center;
    padding: 0 15px;
  }

  .checkproduct {
    height: 300px; /* 调整高度 */
    opacity: 0.8;
  }

  .checkproduct .container {
    align-items: center;
  }

  .checkproduct .banner-text {
    text-align: center;
  }

  .intro-pic img,
  .service-item img {
    width: 100%; /* 让图片填满父元素 */
    height: auto;
    max-width: 100%; /* 确保不超过父元素宽度 */
  }
}